{% extends "layout.html" %}
{% block content %}
<h4 class="mb-4">Historial de Reservas</h4>
<table class="table table-bordered table-hover bg-white">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for r in reservas %}
        <tr>
            <td>{{ r.id_reserva }}</td>
            <td>{{ r.nombres }} {{ r.apellidos }}</td>
            <td>{{ r.fecha_reserva }}</td>
            <td>{{ r.hora_reserva }}</td>
            <td class="text-uppercase fw-bold 
                {% if r.estado == 'reservada' %} text-danger 
                {% elif r.estado == 'ocupada' %} text-success 
                {% elif r.estado == 'cancelada' %} text-muted 
                {% endif %}">
                {{ r.estado }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/" class="btn btn-primary mt-3">Volver al Inicio</a>
{% endblock %}

