{% extends "layout.html" %}
{% block content %}
<div class="row">
    {% for mesa in mesas %}
    <div class="col-md-3 mb-4">
        <div class="card text-center border-{{ 
            'success' if mesa.estado == 'ocupada' else 
            'danger' if mesa.estado == 'reservada' else 
            'secondary' }}">
            <div class="card-body">
                <h5>Mesa {{ mesa.numero }}</h5>
                <p>Capacidad: {{ mesa.capacidad }}</p>
                <p class="text-uppercase fw-bold">Estado: {{ mesa.estado }}</p>
                {% if mesa.estado == 'libre' %}
                    <a href="/reservar/{{ mesa.id_mesa }}" class="btn btn-primary">Reservar</a>
                {% elif mesa.estado == 'reservada' %}
                    <a href="/ocupar/{{ mesa.id_mesa }}" class="btn btn-success mb-2">Ocupar</a>
                    <a href="/cancelar/{{ mesa.id_mesa }}" class="btn btn-danger">Cancelar</a>
                {% elif mesa.estado == 'ocupada' %}
                    <a href="/liberar/{{ mesa.id_mesa }}" class="btn btn-warning">Liberar</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


