{% extends "layout.html" %}
{% block content %}
<h4>Reservar Mesa {{ id_mesa }}</h4>
<form method="POST">
    <div class="mb-3">
        <label>Nombres:</label>
        <input type="text" name="nombres" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Apellidos:</label>
        <input type="text" name="apellidos" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>DNI:</label>
        <input type="text" name="dni" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Teléfono:</label>
        <input type="text" name="telefono" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Fecha de Reserva:</label>
        <input type="date" name="fecha" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Hora de Reserva:</label>
        <input type="time" name="hora" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Guardar Reserva</button>
</form>
{% endblock %}

